# Python cache
__pycache__/
*.pyc

# Uploaded files
uploads/*

# Virtual environment
venv/

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env